$prefix: cp-contatti;

.#{$prefix}{
  &__company{
    &-address{
      color: $main-dark;
      text-decoration: none;
    }
  }

  &__venues{
    padding: vr(2) 0;

    canvas{
      display: block;
      margin: 0 auto;
    }
  }

  h1 {
    display: inline-block;
    background-color: $main-light;
  }
}

@media only screen and (min-width: $desktop-min-width) {
  .#{$prefix}{
    &__company{
      &-data,
      &-contacts{
        display: flex;
      }

      &-separator{
        padding: 0 3px;
      }

      &-phone{
        padding-left: 5px;
      }
    }
  }
}
