$prefix: cp-footer;

.#{$prefix} {
  background-color: $main-dark;
  padding: vr(4) vr(2);
  color: $main-light;
  text-align: center;

  &__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: vr(2);

    &-image{
      margin-right: vr(1);
      height: 45px;
    }

    &-brand{
      height: 10px;
    }
  }

  &__company{
    &-separator{
      margin: 0 5px;
    }

    &-address,
    &-mail,
    &-phone{
      text-decoration: none;
      color: $main-light;
    }
  }


  &__social{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: vr(2);

    &-item{
      margin: 0 vr(1);
    }

    &-link{
      display: block;
      width: 24px;
      height: 24px;
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {
  .#{$prefix}{
    &__logo{
      &-image{
        height: 69px;
      }
  
      &-brand{
        height: 15px;
      }
    }

    &__company{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__social{
      &-link{
        width: 32px;
        height: 32px;
      }
    }
  }
}