$prefix: cp-grid;

.#{$prefix}{
  display: grid;
  grid-template-columns:  0 auto 0;
  grid-template-areas: "left container right";
  
  &__container{
    grid-area: container;
    display: grid;
    column-gap: 20px;
    grid-template-columns: minmax(0, 1fr) minmax(0, 10fr) minmax(0, 1fr);
    grid-template-areas: "left-space content right-space";
  }

  &__content{
    grid-area: content;
  }

  &__left{
    grid-area: left;
    overflow: hidden;
    justify-self: end;
    width: calc(50vw - #{$half-container});
  }

  &__right{
    grid-area: right;
    overflow: hidden;
    justify-self: start;
    width: calc(50vw - #{$half-container});
  }
}

@media only screen and (min-width: $container-wmax-width) {
  .#{$prefix}{
    grid-template-columns:  minmax(0, 1fr) 1200px minmax(0, 1fr);
  }
}

.headquarter {
  max-width: 2560px;
  margin: 0 auto;
  background: $main-light;
}

body {
  background: black;
}

