header {
  background-color: $main-light;
  width: 100%;
  padding: vr(-1);
  height: vr(3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;

  & ul {
    display: flex;

    & li a {
      color: $main-dark;
      text-decoration: none;
      margin-left: vr(1);

      &:hover {
        color: $main-color;
      }
    }
  }
}