header {
  background-color: $main-light;
  width: 100%;
  padding: vr(-1);
  height: vr(3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  & ul {
    display: flex;
  }
}