$prefix: cp-home-wide;

.#{$prefix} {
  
  text-align: center;

  & img {
    display: block;
  }

  &__section {

    h1, p {
      padding: 0 10px;
    }

    // &--red {
    //   background-color: #DA2222;

    //   & span {
    //     color: $main-light;
    //   }
    // }

    & img {
      width: 100%;
    }

    &__tech {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "header header"
        "sidebar content";
      
      &__header {
        grid-area: header;
        
        background-color: red;
      }

      &__sidebar {
        grid-area: sidebar;
        
        background-color: green;
      }

      &__content {
        grid-area: content;
      }
    }

    &__apple {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
      "header"
      "content"
      "footer";
    
      &__header {
        grid-area: header;
        
        background-color: red;
      }

      &__content {
        grid-area: content;
      }

      &__footer {
        grid-area: footer;
        
        background-color: blue;
      }
    }

    &__tailor {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
      "header header"
      "sidebar content"
      "footer footer";
    
      &__header {
        grid-area: header;
        
        background-color: red;
      }

      &__sidebar {
        grid-area: sidebar;
        
        background-color: green;
        align-self: center;
      }

      &__content {
        grid-area: content;
      }

      &__footer {
        grid-area: footer;
        
        background-color: blue;
      }
    }

    &__analysis {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
      "header header"
      "content sidebar";
    
      &__header {
        grid-area: header;
        
        background-color: red;
      }

      &__content {
        grid-area: content;
      }

      &__sidebar {
        grid-area: sidebar;
        
        background-color: green;
        align-self: start;
      }
    }

    &__compass {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
      "content-left sidebar-right"
      "middle middle"
      "sidebar-left content-right";

      &__content-left {
        grid-area: content-left;
      }

      &__sidebar-right {
        grid-area: sidebar-right;
        
        background-color: orange;
        align-self: end;
      }

      &__middle {
        grid-area: middle;
        
        background-color: orange;
      }

      &__content-right {
        grid-area: content-right;
      }

      &__sidebar-left {
        grid-area: sidebar-left;
        
        background-color: orange;
        align-self: start;
      }
    }

    &__basement {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
      "sidebar content"
      "footer footer";

      &__sidebar {
        grid-area: sidebar;
        
        background-color: green;
        align-self: end;
      }

      &__content {
        grid-area: content;
      }

      &__footer {
        grid-area: footer;
        
        background-color: blue;
      }
    }

    &__code {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
      "header header"
      "content sidebar";
    
      &__header {
        grid-area: header;
        
        background-color: red;
      }

      &__content {
        grid-area: content;
      }

      &__sidebar {
        grid-area: sidebar;
        
        background-color: green;
        align-self: start;
      }
    }

    &__changes {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
      "sidebar-left content sidebar-right";
    
      &__sidebar-left {
        grid-area: sidebar-left;
        
        background-color: orange;
        align-self: center;
      }

      &__content {
        grid-area: content;
      }

      &__sidebar-right {
        grid-area: sidebar-right;
        
        background-color: orange;
        align-self: center;
      }
    }

    &__finish-line {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
      "content"
      "footer";

      &__content {
        grid-area: content;
      }

      &__footer {
        grid-area: footer;
        background-color: blue;
        
      }
    }
  }
}