$prefix: cp-internal-page;

.#{$prefix}{
  padding: 0 0 vr(6) 0;

  &__bg{
    background-image: url('/bgk_small.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
  }
}


@media only screen and (min-width: $desktop-min-width) {
  .#{$prefix}{
    &__content{
      position: relative;
      z-index: 1;
      padding-top: vr(6);

      &--bg {
        background-image: url('/bgk_big.jpg');
        background-position: top right;
        background-size: auto 80%;
        background-repeat: no-repeat;
      }
    }
    
    &__bg{
      display: none;
    }
  }
}