$prefix: cp-member;

.#{$prefix}{
  margin-bottom: vr(2);
  &__content{
    text-align: center;
  }

  &__title{
    text-transform: uppercase;
    font-weight: 600;
  }

  &__img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 2px solid $main-dark;
  }

  &__plus{
    background: transparent;
    border: 1px solid $main-dark;
    height: 32px;
    width: 32px;
    cursor: pointer;

    &:focus{
      outline: none;
    }

    &--hidden{
      display: none;
    }
  }

  &__description{
    display: none;
    background-color: $main-color;
    padding: vr(1) calc(1.25rem + 20px);
    text-align: center;
    margin-left: calc(-10% - 20px);
    margin-right: calc(-10% - 20px);

    &-info{
      display: none;
    }

    &--visible{
      display: block;
    }

    &-close{
      color: $main-light;
      background-color: transparent;
      border: none;
      margin-bottom: vr(1);
      cursor: pointer;

      &:focus{
        outline: none;
      }

      & svg {
        fill: $main-light;
      }
    }

    &-text{
      color: $main-light;
    }
  }

  &__social{
    display: flex;
    justify-content: center;

    &-link{
      color: $main-dark;
      text-transform: uppercase;
      margin: 0 5px;
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {
  .#{$prefix}{
    position: relative;

    &__content{
      position: relative;
    }

    &__plus{
      border: none;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 140px;
      height: 140px;
      border-radius: 100%;
      font-size: 0;
    }

    &__description{
      position: absolute;
      top: 35px;
      left: 100%;
      max-width: 500px;
      z-index: 2;
      margin-left: 0;
      margin-right: 0;
      text-align: left;
      background-color: $main-dark;
      color: $main-color;

      &:before{
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 50px 25px 0;
        border-color: transparent $main-dark transparent transparent;
        position: absolute;
        top: 25px;
        left: -25px;
      }

      &--right{
        left: auto;
        right: 100%;

        &:before{
          left: auto;
          right: -25px;
          border-width: 25px 0 25px 50px;
          border-color: transparent transparent transparent $main-dark;
        }
      }

      &-title{
        color: $main-light;
        text-transform: uppercase;
      }

      &-extras{
        color: $main-color;
      }

      &-info{
        display: block;
      }

      &-close{
        position: absolute;
        top: vr(1);
        right: vr(1);
      }
    }

    &__img{
      width: 140px;
      height: 140px;
      border-width: 5px;
    }

    &__info{
      display: none;
    }

    &__social{
      justify-content: flex-start;

      &-link{
        color: $main-color;
      }
    }
  }
}