$prefix: cp-slide-8;

.#{$prefix} {
  &__grid-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: vr(1);
  }

  &__title{
    margin-bottom: 2rem;
    line-height: 5.5rem;
    background-color: transparent;
  }

  &__content{
    width: 50%;
    text-align: center;
    position: relative;

    &-text{
      width: 80%;
      margin: 0 auto;
    }

    &-extra{
      position: absolute;
      top: 100%;
      left: 10%;
      right: 10%;
      margin-top: 35vh;
    }
  }

  

  &__animation{
    text-align: center;

    &-circle-1{
      width: 160vh;
      height: 160vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;

      svg {
        width: 100%;
        height: 100%;
        @include rotation(60s, true);
      }
    }

    &-circle-2{
      width: 150vh;
      height: 150vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 4;

      svg {
        width: 100%;
        height: 100%;
        @include rotation(60s);
      }
    }

    &-circle-3{
      width: 90vh;
      height: 90vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;

      svg {
        width: 100%;
        height: 100%;
        @include rotation(60s);
      }
    }

    &-reload{
      width: 150vh;
      height: 150vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;

      img{
        display: block;
        width: 100%;
        height: 100%;
        @include rotation(60s, true);
      }
    }

    &-background{
      width: 145vh;
      height: 145vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url('/universe_bg.jpg');
      background-size: cover;
      z-index: 1;
      border-radius: 100%;
      overflow: hidden;
    }
  }
}