$prefix: cp-slide-4;

.#{$prefix}{

  &__header{
    z-index: 2;
    background-image: url('/header_04.png');
    background-position: center top;
    background-repeat: repeat-x;
    height: 430px;
  }

  &__grid-content{
    padding: 200px 0 0;
  }

  &__content{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 80px;
    margin-bottom: -300px;
  }

  &__animation {
    position: relative;
    top: -350px;

    &-mag{
      width: 100%;
    }

    &-ship{
      position: absolute;
      bottom: 5%;
      left: 3%;
      width: 55%;
      transform: scale(0.4);
      transition: all 1s linear;

      &--animate{
        transform: scale(1);
      }
    }
  }
}