@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;500;600&display=swap');

//Font-family
$ff-barlow-condensed: 'Barlow Condensed';

//Type-scale
$type-scale: (
  -1: 0.75em,
  0: 1em,
  1: 1.414em,
  2: 1.999em,
  3: 2.827em,
  4: 3.998em,
  5: 5.653em
);

@function type-scale($typeScaleValue) {
  @return map-get($type-scale, $typeScaleValue);
}

//Base sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.25;

$value: (
  -1: $base-line-height / 2,
  0: 0,
  1: $base-line-height,
  2: $base-line-height * 2,
  3: $base-line-height * 3,
  4: $base-line-height * 4,
  5: $base-line-height * 5
);

@function vr($baseLineValue) {
  @return map-get($value, $baseLineValue);
}

@mixin type-setting($typeScale: 1, $lhValue: 1, $mgValue: 1) {
  font-size: type-scale($typeScale);
  line-height: vr($lhValue);
  margin-bottom: vr($mgValue);
}

body {
  font-family: $ff-barlow-condensed;
  font-weight: 300;
}

//Headings, p, small, a
h1, h2, h3, h4, h5, p, small, a, ul, li {
  font-weight: 300;
  color: $main-dark;

  & > span {
    color: $main-color;
  }
}

h1 {
  @include type-setting(5);

  & > strong {
    font-weight: 500;
  }
}

h2 {
  @include type-setting(4);
}

h3 {
  @include type-setting(3);
}

h4 {
  @include type-setting(2);
}

h5 {
  @include type-setting(1);
}

p {
  @include type-setting(0);
}

p strong {
  font-weight: 600;
}

small {
  @include type-setting(-1);
}

a {
  color: $main-color;
}



