@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


$prefix: cp-typography;

//Font-family
$ff-barlow-condensed: 'Barlow Condensed';
$ff-comic: 'Architects Daughter';

//Type-scale
$type-scale: (
  -1: 0.75rem,
  0: 1rem,
  1: 1.414rem,
  2: 1.999rem,
  3: 2.827rem,
  4: 3.998rem,
  5: 5.653rem,
  6: 7.777rem
);

@function type-scale($typeScaleValue) {
  @return map-get($type-scale, $typeScaleValue);
}

//Base sizes
$base-font-size: 1rem;
$base-line-height: $base-font-size * 1.25;

$value: (
  -1: $base-line-height / 2,
  0: 0,
  1: $base-line-height,
  2: $base-line-height * 2,
  3: $base-line-height * 3,
  4: $base-line-height * 4,
  5: $base-line-height * 5,
  6: $base-line-height * 6
);

@function vr($baseLineValue) {
  @return map-get($value, $baseLineValue);
}

@mixin type-setting($typeScale: 1, $lhValue: 1, $mgValue: 1) {
  font-size: type-scale($typeScale);
  line-height: vr($lhValue);
  margin-bottom: vr($mgValue);
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 13px;

  @media only screen and (min-width: $desktop-min-width) {
    font-size: 18px;
  }
}

body {
  font-family: $ff-barlow-condensed;
  font-weight: 300;
}

//Headings, p, small, a
h1, h2, h3, h4, h5, p, small, a, ul, li {
  font-weight: 300;
  color: $main-dark;

  & > span {
    color: $main-color;
  }
}

h1 {
  @include type-setting(6, 6, 4);
  font-weight: 500;
}

h2 {
  @include type-setting(4, 4, 4);
}

h3 {
  @include type-setting(3, 3, 1);
}

h4 {
  @include type-setting(2, 2, 1);
}

h5 {
  @include type-setting(1, 1, -1);
}

p {
  @include type-setting(0, 1, 1);
}

p strong {
  font-weight: 600;
}

small {
  @include type-setting(-1, -1, -1);
}

a {
  color: $main-color;
}

button {
  font-family: $ff-barlow-condensed;
  font-weight: 300;
}

.#{$prefix} {
  &__main-text{
    @include type-setting(2, 2, 2);
  }
}