.swiper-pagination-bullet {
    background-color: transparent;
}

.swiper-pagination-bullet::before {
    content: '';
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    display: block;
    background-color: $grey-dark;
    margin-left: 0.6em;
    margin-top: 0.6em;
}

.swiper-pagination-bullet-active::before {
    background-color: $main-color;
}

.swiper-horizontal>.swiper-pagination-bullets {
    top: 6em;
}

.swiper-wrapper {
    padding-bottom: 3rem;
}

.swiper-slide {
    padding: 0 3vw;
    box-sizing: border-box;
}

.swiper-pagination-bullet {
    width: 2em;
    height: 2em;
}

.swiper-button-next, .swiper-button-prev {
    color: $main-color;
    top: 0;
    padding: 0.2em;
    background: white;
    margin-top: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next, .swiper-button-prev, .swiper-wrapper, .swiper-slide {
    height: 5rem;
}

.swiper-slide>div, .swiper-slide>div>a {
    height: 100%;
}

.swiper-slide>div>a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
    
    